:root {
    --main-bg: #f9fafb;
    --text: #111827;
    --text-secondary: #6b7280;
    --card-border: #d1d5db;
    --primary: #2563eb;
    --primary-border: #1e40af;
}

$main-bg: var(--main-bg);
$text: var(--text);
$text-secondary: var(--text-secondary);
$card-border: var(--card-border);
$primary: var(--primary);
$primary-border: var(--primary-border);
